* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #89bdd6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #89bdd6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29586c, #89bdd6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    width: 40vw;
    margin-top: 20vh;
    text-align: center;
}

.score {
    font-size: 70px;
    color: white;
    margin-bottom: 60px;
}

.choise {
    font-size: 50px;
    margin-bottom: 50px;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons > button {
    font-size: 30px;
    width: 150px;
    padding: 5px;
    border-radius: 10px;
    background: #fff;
    outline: inherit;
}
